
/* -------------------------------------------- */
/* ----------------- Base+ ------------------- */
/* -------------------------------------------- */
img {
	max-width: 100%;
	height: auto;
}

.container {
    max-width: 1023px;
}

/* Utility classes */
.align-center {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.align-center img {
	display: block;
	margin: 1rem auto;
}
.thumbnail {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4),inset 0px 24px 87px 0px rgba(194, 194, 194, 0.7);
	border-radius: 0px;
	padding: 0;
}


/* -------------------------------------------- */
/* --------------- Typography n' icons -------- */
/* -------------------------------------------- */

body {
	background: #fff url(../images/bg-pattern.png) repeat-x top center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a,
a:hover,
a:focus {
	color: #05502b;
}

p {
	line-height: 1.6;
}

@font-face {font-family: 'HelveticaLTWXX-BoldCond';src: url('webfonts/34FD8E_4_0.eot');src: url('webfonts/34FD8E_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/34FD8E_4_0.woff2') format('woff2'),url('webfonts/34FD8E_4_0.woff') format('woff'),url('webfonts/34FD8E_4_0.ttf') format('truetype');}

h1,h2,h3,h4,h5,h6 {
	font-family: 'HelveticaLTWXX-BoldCond', sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
}
h1,h4 {
	text-transform: uppercase;
}
h4,h5,h6 {
	font-weight: 400;
}

.fa {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.fa-tint {
  width: 0.5714285714285714em;
}

.fa-twitter-square {
  width: 0.8571428571428571em;
}

.fa-wrench {
  width: 0.9391428571428571em;
}

.fa-caret-right {
  width: 0.3214285714285714em;
}

.fa-youtube-square {
  width: 0.8571428571428571em;
}

.fa-instagram {
  width: 0.8571428571428571em;
}

.fa-paint-brush {
  width: 0.9988571428571428em;
}

.fa-facebook-official {
  width: 0.8571428571428571em;
}

/* -------------------------------------------- */
/* ----------------- Buttons ------------------ */
/* -------------------------------------------- */

.btn-default {
	background-image: linear-gradient( 0deg, rgb(203,203,203) 0%, rgb(255,255,255) 100%);
	font-weight: bold;
}
.btn-primary {
	border-radius: 5px;
	background-image: linear-gradient( 0deg, rgb(5,77,41) 0%, rgb(9,119,65) 100%);
	color: #fff;
	border-color: rgb(5,77,41);
	margin-right: 1rem;
	text-transform: uppercase;
	font-family: 'HelveticaLTWXX-BoldCond', sans-serif;
	font-weight: normal;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover {
	background: rgb(5,77,41);
	color: #eee;
}


/* -------------------------------------------- */
/* ----------------- Header ------------------- */
/* -------------------------------------------- */

.courtesy-bar {
	background-color: #231f20;
}
.courtesy-bar .nav-pills {
	padding: 0 15px;
}
.courtesy-bar .nav-pills>li:not(:last-child) a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 1rem;
    height: 1rem;
    width: 1px;
    background: #eee;
}
.courtesy-bar .nav-pills>li>a {
	color: #fff;
	font-size: 10px;
	padding: 7px 10px;
}
.courtesy-bar .nav-pills>li>a:hover,
.courtesy-bar .nav-pills>li>a:focus {
	background-color: #222;
	border-radius: 0;
	text-decoration: underline;
}

@media (min-width: 768px) {
	.header {
	    display: flex;
	    align-items: center;
	}
}
.logo {
	margin: 2rem auto;
	display: block;
}


/* Secondary Navigation - aka the search area */
@media (min-width: 768px) {
	.secondary-navbar {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	}
}
.secondary-navbar {
    background: #09733f;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
}
.secondary-navbar .nav > li:not(:last-child) a:after {
	content: "";
	position: absolute;
	right: 0;
	top: 1.1rem;
	height: 1.5rem;
	width: 1px;
	background: #eee;
}
.secondary-navbar .nav>li>a {
	color: #fff;
	font-size: 12px;
}
.secondary-navbar .nav>li>a:hover,
.secondary-navbar .nav>li>a:focus {
	background-color: transparent;
	text-decoration: underline;
}
.secondary-navbar-search {
    flex: 1;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondary-navbar-search .form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0 none;
}
.secondary-navbar-search button {
	color: #333;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-image: linear-gradient( 0deg, rgb(154,154,154) 0%, rgb(255,255,255) 100%);
}
.free-shipping {
    margin-right: -.5rem;
    align-self: flex-end;
}


/* Main Navigation */
nav.navbar.navbar-default {
	min-height: 30px;
	border: 0 none;
	margin-bottom: 0;
	background-color: transparent;
}
.navbar-default .navbar-collapse {
	border-radius: 3px;
	background-image: linear-gradient( 0deg, rgb(5,77,41) 0%, rgb(9,119,65) 100%);
}
@media (min-width: 768px) {
	.navbar-default .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-default .navbar-nav {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	.navbar-default .navbar-nav > li {
		flex-grow: 1;
	}
	.navbar-default .navbar-nav > li:not(:first-child) {
		border-left: 1px solid rgba(255,255,255,0.1);
	}
	.navbar-default .navbar-nav > li:not(:last-child) {
		border-right: 1px solid rgba(0,0,0,0.1);
	}
	.navbar-default .navbar-nav > li > a {
		padding: .75rem 1.125rem;
		display: block;
		line-height: 1.5;
	}
}
.navbar-default .navbar-nav > li > a {
	padding-top: .6rem;
    padding-bottom: .6rem;
	font-family: 'HelveticaLTWXX-BoldCond', sans-serif;
	font-weight: 400;
	font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
	.navbar-default .navbar-nav > li > a {
	    font-size: 1.125rem;
	}
}
.navbar-default .navbar-nav > li:last-child {
	background-image: linear-gradient( 90deg, rgb(71,119,39) 0%, rgb(100,154,65) 100%);
}
.navbar-default .navbar-nav > li:last-child,
.navbar-default .navbar-nav > li:last-child > a:hover,
.navbar-default .navbar-nav > li:last-child > a:focus {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.navbar-default .navbar-nav > li:first-child,
.navbar-default .navbar-nav > li:first-child > a:hover,
.navbar-default .navbar-nav > li:first-child > a:focus {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background: #61963e;
	color: #fff;
}
.navbar img {
	margin-bottom: -0.75rem;
    margin-top: -1.5rem;
    margin-right: 1rem;
}

.nav-categories {
	border: 1px solid #ddd;
	margin: .75rem 0;
	border-radius: 4px;
	overflow: hidden;
}
.nav-categories>li:not(:last-child) {
	border-right: 1px solid #ddd;
}
.nav-categories a {
	color: #6a6a6a;
	padding: .5rem !important;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	background: white;
	border-radius: 0 !important;
}
.nav-categories a svg {
	fill: #065c32;
	vertical-align: middle;
}
.nav-categories .glyphicon {
    color: #09733f;
    vertical-align: middle;
    font-size: 0.75rem;
    padding-bottom: 3px;
}
.cart-wrapper .nav {
	background-image: linear-gradient( 0deg, rgb(139,119,93) 0%, rgb(174,148,113) 100%);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.cart-wrapper .nav>li:not(:last-child) a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 1rem;
    height: 1.5rem;
    width: 1px;
    background: #eee;
}
.cart-wrapper .nav>li>a {
	color: white;
	padding: .75rem;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 12px;
}

.cart-wrapper .nav>li>a:hover,
.cart-wrapper .nav>li>a:focus {
	background-color: transparent;
	text-decoration: underline;
}
.cart-wrapper p {
	margin: 0;
	color: #444041;
	font-size: 12px;
	padding: 1rem 1rem;
	text-align: center;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid rgb(139,119,93);
	background-image: linear-gradient( 0deg, rgb(193,171,142) 0%, rgb(225,210,188) 100%);
}

/* Mobile Optimizations */
@media (max-width: 767px) {
	.free-shipping {
	    display: none;
	}
	.secondary-navbar {
		padding: 1rem 0rem;
	}
	.navbar-toggle {
		margin: 1rem auto;
    	display: block;
    	float: none;
	}
	.navbar-right > li > a {
		padding: .5rem .75rem;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color: #eee ;
	}
	.navbar-default .navbar-nav>li>a {
		text-align: left !important;
	}
	.nav-categories {
		display: none;
	}
	.cart-wrapper > ul {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}


/* -------------------------------------------- */
/* ---------------- Main Body ----------------- */
/* -------------------------------------------- */
.main {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4),inset 0px 0px 87px 0px rgba(194, 194, 194, 0.7);
	padding: 1rem;
	margin-bottom: 4rem;
}
.main .breadcrumb {
	background: none;
}
.main > .row {
    max-width: 890px;
    margin: 6rem auto;
}
.main > h1 {
	max-width: 940px;
	margin: 1rem auto;
}
.main-header {
	margin: 2rem 0;
    background: #8d785e url('../images/wood-bg.jpg') no-repeat center center/cover;
	border: 2px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	color: #fff;
	position: relative;
	min-height: 100px;
	text-align: center;
	text-transform: uppercase;
}
.main-header:after {
	content:"";
	display: block;
	position: absolute;
	top: 1rem;
	right: 1rem;
	bottom: 1rem;
	left: 1rem;
	border: 10px solid transparent;
	border-image-source: url('../images/screw-head.png');
	border-image-slice: 10 10;
	border-image-repeat: round;
	pointer-events: none;
}
.main-header h1 {
	margin: 2.5rem 0;
}

/* -------------------------------------------- */
/* ----------------- Footer ------------------- */
/* -------------------------------------------- */

.footer {
	padding: 2rem 0;
	background: #231f20;
	color: #fff;
}
.footer h4 {
	font-weight: bold;
	text-transform: uppercase;
}
.footer p {
	margin: 10px 0;
}
.footer a {
	color: #fff;
}
.footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer .social-icons {
	font-size: 2.25rem;
	line-height: 1;
}
.footer .social-icons a {
	display: inline-block;
	margin-right: .5rem;
}




/* -------------------------------------------- */
/* ----------------- Home Page ---------------- */
/* -------------------------------------------- */
.featured-announcements {
	margin: 3rem 0;
    background: #8d785e url('../images/wood-bg.jpg') no-repeat center center/cover;
	border: 2px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	color: #fff;
	position: relative;
	min-height: 100px;
}
.featured-announcements:after {
	content:"";
	display: block;
	position: absolute;
	top: 1rem;
	right: 1rem;
	bottom: 1rem;
	left: 1rem;
	border: 10px solid transparent;
	border-image-source: url('../images/screw-head.png');
	border-image-slice: 10 10;
	border-image-repeat: round;
	pointer-events: none;
}
.featured-announcement {
	padding: 0 3rem;
	transition: all .5s ease-in;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	display: flex;
	width: 100%;
	height: 100%;
}
.featured-announcement.active {
	opacity: 1;
	visibility: visible;
}
.featured-announcement img {
	display: block;
	margin: 0 auto;
}
.featured-announcement .row {
	display: flex;
	width: 100%;
}
.featured-announcement .row:before,
.featured-announcement .row:after {
	display: none;
}
.featured-announcement .row > div {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.featured-announcement .row > div.align-bottom {
	align-self: flex-end;
	padding-right: 0;
}
.featured-announcement h2,
.featured-announcement h3 {
	margin: 1rem 0;
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 1.1;
}
.featured-announcement h3 {
	font-size: 1.75rem;
}
.featured-promotions {
	margin: 2rem 0;
	border: 2px solid #fff;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	color: #fff;
	background: #e1d2bc;
}
.featured-promotion {
	width: 100%;
}
.flickity-prev-next-button {
	border: 2px solid #fff;
	background-image: linear-gradient( 0deg, rgb(139,119,93) 35%, rgb(162,141,114) 70%, rgb(184,162,134) 100%);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.flickity-prev-next-button:disabled,
.flickity-prev-next-button:active,
.flickity-prev-next-button:hover {
	opacity: 1;
	background: rgb(139,119,93);
}
.flickity-prev-next-button .arrow {
	fill: #fff;
}
.flickity-prev-next-button.previous {
	left: -2rem;
}
.flickity-prev-next-button.next {
	right: -2rem;
}
.quantity-add-to-cart {
    display: flex;
    flex-wrap: wrap;
}
.quantity-add-to-cart input {
    margin-right: 2rem;
    max-width: 7rem;
}

.featured-products .row > div {
	margin-bottom: 2rem;
}
.featured-brands {
	margin-bottom: 2rem;
}
.featured-brand {
	padding: 0 2rem;
	display: block;
	width: 160px;
	height: 120px;

border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white, white, white, #c3c3c3, #c3c3c3, #c3c3c3, white, white, white) 1 50%;}
.featured-brand a {
	display: block;
}


.featured-photos {
	background: url('../images/seasons-social-card.png') no-repeat center center / contain;
	padding-top: 1rem;
}
.featured-photos > div {
    display: flex;
    align-items: center;
}
.featured-photos-links div img {
	max-width: 70px;
	margin-right: 2rem;
	display: inline-block;
	padding: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
}
.featured-photos-links {
	text-align: right;
	padding-right: 3rem;
}
.featured-photos-links > a {
	display: inline-block;
	padding: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	border-radius: 9px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
	margin-right: 2rem;
}
.featured-photos-links > a:nth-child(2) {
	border-radius: 19px;
}
#instafeed {
    display: inline-block;
}

@media (min-width: 768px) {
	.valdosta-location .row {
	    display: flex;
	}
	.valdosta-location .row > div {
	    display: flex;
	}
}

.valdosta-location .panel-default > .panel-heading {
    background-image: linear-gradient( 0deg, rgb(5,77,41) 0%, rgb(9,119,65) 100%);
    color: white;
    text-transform: uppercase;
}
.valdosta-location .panel-default > .panel-heading h3 {
	margin: 1rem 0;
}
.map-panel {
	background-color: #eee;
	background-position: center;
	background-size: cover;
	padding: 1rem;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	margin: 2px 2px 0 2px;
	display: none;
}
.map-panel.active {
	display: block;
}
.map-tabs {
    text-align: center;
    padding: 1rem;
    background-image: linear-gradient( 0deg, rgb(5,77,41) 0%, rgb(9,119,65) 100%);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
@media (min-width: 768px) {
	   .map-tabs {
		    display: flex;
	    	justify-content: space-around;
	    }
}
.map-panel#whitehead {
	background-image: url('../images/whitehead-map.png');
}
.map-panel#miller {
	background-image: url('../images/miller-map.png');
}
.map-panel#seasons {
	background-image: url('../images/seasons-map.png');
}
.map-panel-text {
    max-width: 270px;
    padding: 2.9rem 2rem;
    background: #e1d2bc;
    margin: 3rem 0 3rem -1rem;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
}





/* -------------------------------------------- */
/* ---------------- Seasons Page -------------- */
/* -------------------------------------------- */
.seasons-page .main {
    padding: 0 0 1rem 0;
    background-color: #dfd0b9;
    border: 0 none;
    box-shadow: 0 0 0;
    border-radius: 0;
}
.seasons-page .main > .row {
	max-width: 900px;
}
.seasons-hero {
	border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4), inset 0px 0px 87px 0px rgba(194, 194, 194, 0.7);
}
.seasons-hero-slide {
	width: 100%;
}
.seasons-hero-slide-caption {
	background: rgba(255,255,255,0.9);
	padding: .15rem 2.5rem;
	font-family: serif;
	font-style: italic;
}
@media (min-width: 480px) {
	.seasons-hero-slide-caption {
		position: absolute;
		bottom: 4rem;
		right: 0;
	}
}

.seasons-hero > img {
	position: absolute;
	top: 0;
	left: 4rem;
	z-index: 1;
	background: rgba(255,255,255,0.9);
	padding: 2rem;
}





/* -------------------------------------------- */
/* ---------------- About Page ---------------- */
/* -------------------------------------------- */
.map-banner {
	margin: 3rem 0 2rem;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	background-color: rgb(224, 208, 186);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4), inset 0px 0 87px 0px rgba(0,0,0, 0.2);
}
.map-banner .col-sm-4 {
    padding: 3rem 0 3rem 6rem;
}
.map-banner .row {
	display: flex;
	flex-wrap: wrap;
}
.map-banner .col-sm-8 img {
    object-fit: cover;
    max-width: none;
    height: 100%;
    width: 100%;
    margin: 0;
}




/* -------------------------------------------- */
/* ---------------- Contact Page ---------------- */
/* -------------------------------------------- */
.contact-form {
    padding: 2rem;
    background-image: linear-gradient( 0deg, rgb(5,77,41) 0%, rgb(9,119,65) 100%);
    border-radius: 3px;
    max-width: 800px;
    margin: auto;
}

.contact-form .form-group {
    display: flex;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
}
.contact-form .form-group.stacked {
	flex-wrap: wrap;
}
.contact-form .form-group.stacked label {
	width: 100%;
	flex: none;
}
.contact-form .form-group label {
    background-image: linear-gradient( 0deg, rgb(203,203,203) 0%, rgb(255,255,255) 100%);
    padding: 6px 12px;
    margin: 0;
    flex: 1;
}
.contact-form .form-group textarea,
.contact-form .form-group input {
    border-radius: 0;
    flex: 10;
}

.contact-form .btn-primary {
  border-width: 2px;
  border-color: rgb(150, 48, 16);
  border-style: solid;
  background-image: linear-gradient( 0deg, rgb(181,53,13) 0%, rgb(232,78,29) 97%);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
}

.contact-form .btn-primary:active:hover {
	background: rgb(150, 48, 16);
}




/* -------------------------------------------- */
/* ------------- Category Page ---------------- */
/* -------------------------------------------- */
.categories-grid {
	padding: 0 1.5rem;
	text-align: center;
}
.categories-grid > div {
	margin-bottom: 2rem;
}
.list-products {
	border-top: 1px solid #ddd;
	margin: 1rem;
	padding: 3rem 1rem 1rem;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.list-products li {
	width: 100%;
}
@media (min-width: 768px) {
	.list-products li {
		width: 49%;
	}
}
.prod-div {
    display: flex;
    padding: 1rem;
}
.prod-div p {
    margin: 0;
}
.prod-div .cnt {
    padding: 1rem;
}
.cnt-rt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.price {
    font-size: 1.5rem;
}




/* -------------------------------------------- */
/* ---------------- Product Page -------------- */
/* -------------------------------------------- */
.table.product-meta-table>tbody>tr>td,
.meta-product-info {
    font-size: 12px;
    opacity: 0.75;
    margin-bottom: 1rem;
    padding: 4px;
    border-color: #eee;
}

.VarDesc {
    font-weight: bold;
}

.product-price {
    font-size: 2rem;
}

.product-price span {
    font-weight: bold;
    color: #09733f;
}
@media (min-width: 768px) {
	.product-features ul {
	    column-count: 2;
	    padding: 0 0 0 2rem;
	}
	.product-features ul li {
	    margin-left: 1rem;
	    margin-bottom: 0.75rem;
	}
}